* {
	text-align: center;
	font-family: cursive;
	font-size: large;
}

h1 {
	font-size: 30px;
}

h5 {
	margin-top: 15px;
	margin-bottom: 15px;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 22px;
	border-radius: 5%;
}

a:hover {
	text-decoration: none;
	color: rgb(109, 109, 109);
}

.about-session {
	display: flex;
}

.about-item p {
	margin: 5px;
	margin-top: 10px;
}

.feed-session .ti img {
	border: 2px solid black;
	max-width: 650px;
	max-height: 300px;
}

.feed-session .musicas img {
	border: 2px solid black;
	width: 300px;
	height: 300px;
}

#about-text {
	flex: 60%;
}

#about-img {
	flex: 40%;
}

#about-img img {
	border-radius: 100%;
}

@media screen and (max-width: 770px) {
	* {
		font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	.about-session {
		display: block;
		margin-top: 50px;
		margin-left: 10px;
		margin-right: 10px;
	}

	#about-text {
		margin-left: 0px;
	}

	#about-text h1 {
		margin-bottom: 10px;
	}

	#about-text p {
		margin-bottom: 30px;
	}
}