* {
	text-align: center;
}

header {
	margin-top: 15px;
}

a {
	color: rgb(255, 102, 0);
	text-decoration: none;
	font-size: 22px;
}

h1 a {
	padding: 10px;
	margin: 10px;
	font-size: 50px;
	color: white;
	background-color: rgb(255, 102, 0);
}

h1 a:hover {
	background-color: orange;
}

header a {
	padding: 10px;
	margin: 10px;
	font-size: 30px;
	color: white;
	background-color: rgb(255, 102, 0);
}

header a:hover {
	color: white;
	background-color: orange;
}

section {
	margin-top: 50px;
}

img {
	max-width: 600px;
	max-height: 600px;
}

.image-round img {
	border-radius: 25%;
}

.youtube-button {
	margin-top: 200px;
}