* {
	text-align: center;
	font-family: cursive, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: large;
	margin: 0px;
}

h1 {
	font-size: 30px;
	color: #ffffffd0;
}

h1, #feedFilter {
	flex: 50%;
	margin-top: 20px;
	max-height: 250px;
}

h5 {
	margin-top: 15px;
	margin-bottom: 15px;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: bold;
	font-size: 22px;
	border-radius: 5%;
}

a:hover {
	text-decoration: none;
	color: #0011ff;
}

.title-session {
	position: fixed;
	display: flex;
	width: 100%;
	top: 0px;
}

.title-session, .foot-session {
	background-color: rgb(114, 114, 114);
}

.foot-session {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px 0;
	width: 100%;
	z-index: 1000;
}

.foot-session p {
	margin: 15px;
	color: rgb(255, 255, 255);
}

.feed-session {
	margin: 0 auto;
	margin-top: 110px;
	max-width: max-content;
}

.feed-session .ti img, .feed-session .games img {
	border: 2px solid black;
	max-width: 650px;
	max-height: 300px;
}

.feed-session .musics img {
	border: 2px solid black;
	width: 300px;
	height: 300px;
}

.feed-session .about img {
	border: 2px solid black;
	max-height: 250px;
}

#line {
	text-decoration: line-through;
}

/* css adapted from https://www.w3schools.com/howto/howto_js_filter_elements.asp*/

.filter {
	display: none;
}

.filter p {
	margin: 20px;
}
  
.show {
	display: block;
}
  
.feed-session {
	overflow: hidden;
	padding-bottom: 200px;
}
  
/* Style the buttons */
.btn {
	border: none;
	outline: none;
	padding: 6px 8px;
	background-color: #f1f1f1;
	cursor: pointer;
}
  
.btn:hover {
	background-color: #ddd;
}
  
.btn.active {
	background-color: rgba(0, 0, 0, 0.816);
	color: white;
}

@media screen and (max-width: 715px) {
	* {
		font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	h1 {
		margin-left: 10px;
	}
	
	.title-session {
		position: relative;
	}

	.feed-session {
		margin-top: 30px;
	}

	echo {
		display: none;
	}
}