* {
	text-align: center;
	font-family: cursive;
	font-size: large;
}

h1 {
	font-size: 30px;
	flex: 50%;
}

#feedFilter {
	flex: 50%;
	margin-top: 20px;
}

h5 {
	margin-top: 15px;
	margin-bottom: 15px;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 22px;
	border-radius: 5%;
}

a:hover {
	text-decoration: none;
	color: rgb(109, 109, 109);
}

.title-session {
	display: flex;
}

.title-session, .foot-session {
	background-color: rgb(184, 184, 184);
}

.feed-session {
	margin-top: 30px;
}

.feed-session .ti img, .feed-session .games img {
	border: 2px solid black;
	max-width: 650px;
	max-height: 300px;
}

.feed-session .musics img {
	border: 2px solid black;
	width: 300px;
	height: 300px;
}

.feed-session .about img {
	border: 2px solid black;
	max-height: 250px;
}

/* css adapted from https://www.w3schools.com/howto/howto_js_filter_elements.asp*/

.filter {
	display: none;
}
  
.show {
	display: block;
}
  
.feed-session {
	overflow: hidden;
}
  
/* Style the buttons */
.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
}
  
.btn:hover {
	background-color: #ddd;
}
  
.btn.active {
	background-color: #666;
	color: white;
}

@media screen and (max-width: 770px) {
	* {
		font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	.title-session {
		display: block;
		margin-top: 50px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.title-session h1 {
		margin-left: 0px;
		margin-bottom: 10px;
	}
}